.contact {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 10;
    background-color: rgba(100,149,237,0.8);

    &__form {
        padding: 1rem;
    }

    &__social {
        border-left: 1px solid cornflowerblue;
        padding:0 2rem;
        margin: 0 2rem;
    }
}

