@use '../../styles/mixins' as *;

.contact {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-color: rgba(100,149,237,0.8);
    top:-2%;
    left:-5%;

    @include tablet{
        width: 100vw;
        height: 100%;
        left:-10%;
    }


    @include desktop {
        top: -2%;
        left:-6%;

    }

    &__modalcontainer{
        z-index: 2;
        background-color: white;
        position: absolute;
        animation: translateY(20%) 5s linear;
        border: solid 1px cornflowerblue;
        border-radius: 2rem;
        background-image: linear-gradient(top, #f4f1ee, #fff);
        box-shadow: 14px 18px 13px 4px rgba(0, 0, 0, .3), inset 0px 5px 4px 4px white, inset 0px -3px 2px 2px rgba(204,198,197,.5);
        display: flex;
        justify-content: center;
        width: 20rem;
        top:5%;
        left:20%;
        
        
        @include tablet {
            width:40rem;
            top: 5%;
            left: 20%;
        }

        @include desktop{
            left: 30%;
        }
    }

    &__form {
        padding: 1rem;
    }

    &__social {
        display: none;
        margin: 0 1rem;
        padding:0 1rem;;
        
        @include tablet {
            border-left: 1px solid cornflowerblue;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
        
    }

    &__img {
        display: none;

        @include tablet {
            display: initial;
            width: 15rem;

        }
    }

}

